doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        title Image comparison
        link(rel="stylesheet" href="/src/angular-material.min.css")
        link(rel="stylesheet" href="/src/main.css")
        script(src="/src/libs/jquery.js")
        script(src="/src/libs/angular.min.js")
        script(src="/src/libs/angular-animate.min.js")
        script(src="/src/libs/angular-aria.min.js")
        script(src="/src/libs/angular-messages.min.js")
        script(src="/src/libs/angular-material.min.js")
        block scripts
    body
        section.content(ng-app="Cerno")
            block content
        script(src="/src/app.js")