extends _layout_

block scripts
    script(src='/src/index.js')

block content
    article.logo_panel
        md-grid-list(md-cols="5" md-row-height="60px")
            md-grid-tile(md-colspan="2")
            md-grid-tile(md-colspan="1")
                img(alt="logo" src="/src/img/logo.png").logo_img
            md-grid-tile(md-colspan="2")
    article.top_panel
        md-grid-list(md-cols="6" md-row-height="50px")
            md-grid-tile(md-colspan="1")
                - if(user_status)
                    a(href='/manage')
                        md-button(class="md-raised md-primary md-but-menu") Manage
            md-grid-tile(md-colspan="1")
                a(href='/gallery')
                    md-button(class="md-raised md-primary md-but-menu") Gallery
            md-grid-tile(md-colspan="2")
                h3.main-logo Client logo
            md-grid-tile(md-colspan="1")
            md-grid-tile(md-colspan="1")
                a(href='/exit')
                    md-button(class="md-raised md-primary md-but-menu") Logout

    section(ng-controller="index")
        md-card(md-theme="default", md-theme-watch='')
            md-card-title
                md-card-title-text
                    h2 Compare two pics
                    form(action="/two_pics" method="POST" enctype="multipart/form-data")
                        md-button(class="md-raised md-default" ng-click="upload_compare_one()") {{ value_compare_one }}
                        input(type="file" id="one_but" class="hidden" name="one" required)

                        md-button(class="md-raised md-default" ng-click="upload_compare_two()") {{ value_compare_two }}
                        input(type="file" id="two_but" class="hidden" name="two" required)
                        br
                        md-button(class="md-raised md-primary").submit Compare

        md-card(md-theme="default", md-theme-watch='')
            md-card-title
                md-card-title-text
                    form(action="/all_pics" method="POST" enctype="multipart/form-data")
                        h2 Compare all pics
                        md-button(class="md-raised md-default" ng-click="upload_all()") {{ value_all }}
                        input(type="file" id="all_but" class="hidden" name="one" required)
                        br
                        md-button(class="md-raised md-primary").submit Compare

        md-card(md-theme="default", md-theme-watch='')
            md-card-title
                md-card-title-text
                    form(action="/upload" method="POST" enctype="multipart/form-data" id="upload_form")
                        h2 Upload image
                        article.alert(ng-if="error") {{ error }}
                        md-button(class="md-raised md-default" ng-click="upload_image()") {{ value_upload }}
                        article.hidden
                            input(type="file" id="upload_but" name="img" required)
                            input(type="text" name="name" ng-model="image.name")
                            input(type="text" name="dob" ng-model="image.dob")
                            input(type="text" name="gender" ng-model="image.gender")
                            input(type="text" name="nation" ng-model="image.nation")
                        div(flex-xs, flex-gt-xs='50', layout='column')
                            md-input-container.md-block(flex-gt-sm='')
                                label Name
                                input(ng-model='image.name')
                            h4 D.O.B.
                            md-datepicker(ng-model="image.dob" md-placeholder="Enter date" md-open-on-focus="true")
                            h4 Gender
                            md-radio-group(ng-model='image.gender')
                                md-radio-button(value='0') Male
                                md-radio-button(value='1') Female
                            br
                            md-input-container.md-block(flex-gt-sm='')
                                label Nationality
                                input(ng-model='image.nation')
                        md-button(class="md-raised md-primary" ng-click="upload_click()") Upload
