extends _layout_

block content
    article.logo_panel
        md-grid-list(md-cols="5" md-row-height="60px")
            md-grid-tile(md-colspan="2")
            md-grid-tile(md-colspan="1")
                img(alt="logo" src="/src/img/logo.png").logo_img
            md-grid-tile(md-colspan="2")
    article.top_panel
        md-grid-list(md-cols="6" md-row-height="50px")
            md-grid-tile(md-colspan="1")
                a(href='/')
                    md-button(class="md-raised md-primary md-but-menu") Index
            md-grid-tile(md-colspan="1")
                a(href='/gallery')
                    md-button(class="md-raised md-primary md-but-menu") Gallery
            md-grid-tile(md-colspan="2")
                h3.main-logo Client logo
            md-grid-tile(md-colspan="1")
                - if(user_status)
                    a(href='/processes')
                        md-button(class="md-raised md-primary md-but-menu") Processes
            md-grid-tile(md-colspan="1")
                a(href='/exit')
                    md-button(class="md-raised md-primary md-but-menu") Logout

    article.main(ng-controller='manage')
        div(flex-xs, flex-gt-xs='50', layout='column')
            - each user, i in users
                - var status = user.status == 0 ? 'watcher' : 'administrator'
                    md-card(md-theme="default", md-theme-watch='' class="manage_card")
                        md-card-title
                            md-card-title-text
                                span.md-headline #{user.name}
                                span.md-subhead #{status}
                                md-button(class="md-raised md-primary" ng-click="delete_user(" + user.id + ")")='Delete ' + user.name
        h2 User creating
        div(flex-xs, flex-gt-xs='50', layout='column')
            md-card(md-theme="default", md-theme-watch='')
                md-card-title
                    md-card-title-text
                        article.alert(ng-if="error") {{ error }}
                        md-input-container.md-block(flex-gt-sm='')
                            label Username
                            input(ng-model='user_data.name')
                        md-input-container.md-block(flex-gt-sm='')
                            label Password
                            input(ng-model='user_data.pass')
                        md-radio-group(ng-model='user_data.status')
                            md-radio-button(value='0') Watcher
                            md-radio-button(value='1') Administrator
                        md-button(class="md-raised md-primary" ng-click="create_user()") Create