extends _layout_

block scripts
    //script(src="/src/result_render.js")

block content
    section.result.result_many(ng-controller="result_many")
        article.logo_panel
            md-grid-list(md-cols="5" md-row-height="60px")
                md-grid-tile(md-colspan="2")
                md-grid-tile(md-colspan="1")
                    img(alt="logo" src="/src/img/logo.png").logo_img
                md-grid-tile(md-colspan="2")
        article.top_panel
            md-grid-list(md-cols="6" md-row-height="50px")
                md-grid-tile(md-colspan="1")
                    a(href='/')
                        md-button(class="md-raised md-primary md-but-menu") Index
                md-grid-tile(md-colspan="1")
                    a(href='/gallery')
                        md-button(class="md-raised md-primary md-but-menu") Gallery
                md-grid-tile(md-colspan="2")
                    h3.main-logo Client logo
                md-grid-tile(md-colspan="1")
                    - if(user_status)
                        a(href='/manage')
                            md-button(class="md-raised md-primary md-but-menu") Manage
                md-grid-tile(md-colspan="1")
                    a(href='/exit')
                        md-button(class="md-raised md-primary md-but-menu") Logout

        article.main
            input(type="hidden" value=num)#number
            md-grid-list(md-cols="8" md-row-height="450px").result_canvas
                md-grid-tile(md-colspan="3")
                    md-card(md-theme="default", md-theme-watch='')
                        h3 REFERENCE
                        md-card-title
                            md-card-title-text
                                .md-media-lg.card-media
                                    canvas(width=172 height=304).first_canv
                                    //canvas().first_canv
                md-grid-tile(md-colspan="2").center-panel
                    md-card(md-theme="default", md-theme-watch='')
                        md-card-title(ng-show="!processing")
                            md-card-title-text
                                article.res_circle.res_green
                                article.delimiter
                                article.res_circle.res_amber
                                article.delimiter
                                article.res_circle.res_red
                            md-card-title-text
                                article(style="width: 20px")
                            md-card-title-text
                                article.res_descript Match
                                article.delimiter
                                article.res_descript Partial match
                                article.delimiter
                                article.res_descript No match
                        md-card-title(ng-show="processing")
                            div
                                b Please, wait...
                                img(src="/src/img/preload.gif" alt="load" ng-show="loading").loading
                md-grid-tile(md-colspan="3")
                    md-card(md-theme="default", md-theme-watch='').data-container
                        div.indicator.indicator-first
                        h3 CANDIDATE 1
                        md-card-title
                            md-card-title-text
                                .md-media-lg.card-media
                                    canvas(width=172 height=304).second_canv
                                    //canvas().second_canv
                                .md-media-lg.card-media.data-card#first-card
        //--------------- 2
        md-grid-list(md-cols="8" md-row-height="450px").result_canvas
            md-grid-tile(md-colspan="3")
                md-card(md-theme="default", md-theme-watch='')
                    h3 REFERENCE
                    md-card-title
                        md-card-title-text
                            .md-media-lg.card-media
                                canvas(width=172 height=304).first_canv
                                //canvas().first_canv
            md-grid-tile(md-colspan="2")
            md-grid-tile(md-colspan="3")
                md-card(md-theme="default", md-theme-watch='').data-container
                    //- div.indicator.indicator-second
                    h3 CANDIDATE 2
                    md-card-title
                        md-card-title-text
                            .md-media-lg.card-media
                                canvas(width=172 height=304).second_canv
                                //canvas().second_canv
                            .md-media-lg.card-media.data-card#second-card
        //--------------- 3
        md-grid-list(md-cols="8" md-row-height="450px").result_canvas.hidden.main_block_three
            md-grid-tile(md-colspan="3")
                md-card(md-theme="default", md-theme-watch='')
                    h3 REFERENCE
                    md-card-title
                        md-card-title-text
                            .md-media-lg.card-media
                                canvas(width=172 height=304).first_canv
                                //canvas().first_canv
            md-grid-tile(md-colspan="2")
            md-grid-tile(md-colspan="3")
                md-card(md-theme="default", md-theme-watch='').data-container
                    //- div.indicator.indicator-third
                    h3 CANDIDATE 3
                    md-card-title
                        md-card-title-text
                            .md-media-lg.card-media
                                canvas(width=172 height=304).second_canv
                                //canvas().second_canv
                            .md-media-lg.card-media.data-card#third-card 
        //--------------- 4
        md-grid-list(md-cols="8" md-row-height="450px").result_canvas.hidden.main_block_fourth
            md-grid-tile(md-colspan="3")
                md-card(md-theme="default", md-theme-watch='')
                    h3 REFERENCE
                    md-card-title
                        md-card-title-text
                            .md-media-lg.card-media
                                canvas(width=172 height=304).first_canv
                                //canvas().first_canv
            md-grid-tile(md-colspan="2")
            md-grid-tile(md-colspan="3")
                md-card(md-theme="default", md-theme-watch='').data-container
                    //- div.indicator.indicator-third
                    h3 CANDIDATE 4
                    md-card-title
                        md-card-title-text
                            .md-media-lg.card-media
                                canvas(width=172 height=304).second_canv
                                //canvas().second_canv
                            .md-media-lg.card-media.data-card#fourth-card 
        //--------------- 5
        md-grid-list(md-cols="8" md-row-height="450px").result_canvas.hidden.main_block_fift
            md-grid-tile(md-colspan="3")
                md-card(md-theme="default", md-theme-watch='')
                    h3 REFERENCE
                    md-card-title
                        md-card-title-text
                            .md-media-lg.card-media
                                canvas(width=172 height=304).first_canv
                                //canvas().first_canv
            md-grid-tile(md-colspan="2")
            md-grid-tile(md-colspan="3")
                md-card(md-theme="default", md-theme-watch='').data-container
                    //- div.indicator.indicator-third
                    h3 CANDIDATE 5
                    md-card-title
                        md-card-title-text
                            .md-media-lg.card-media
                                canvas(width=172 height=304).second_canv
                                //canvas().second_canv
                            .md-media-lg.card-media.data-card#fift-card 
        div.bottom-grey-ribbon
            h3.additional TOP HITS
            img(src="/src/img/load.gif" alt="load" ng-show="loading_img")
            md-grid-list(md-cols="8" md-row-height="100px")
                md-grid-tile(md-colspan="1" ng-repeat="img in images")
                    img(src="data:image/jpg;base64,{{ img.file }}").top-hit-img