extends _layout_

block content
    a(href='/')
        input(type='button' value='Index')
    h1 Gallery
    - each image, i in images
        figure.gallery_figure
            a(href='/image/' + image.id)
                img(src='/image/' + image.id alt='gallery_figure')
            p #{image.createdAt.toString()}