extends _layout_

block scripts
    script(src='/src/index.js')

block content
   a(href='/exit')
       input(type='button' value='Logout')
   - if(user_status)
       a(href='/manage')
           input(type='button' value='Manage')
   a(href='/gallery')
       input(type='button' value='Gallery')
   article.form
       form(action="/two_pics" method="POST" enctype="multipart/form-data")
           h2 Two pics
           select(name='CliqueCount')
               option(value='100' selected) Simple scan (100)
               option(value='300') Middle scan (300)
               option(value='1000') Full scan (1000)
           br
           input(type="file" name="one" required)
           input(type="file" name="two" required)
           br
           input(type="submit" value="SUBMIT")
   article.form
       form(action="/all_pics" method="POST" enctype="multipart/form-data")
           h2 All pics
           select(name='CliqueCount')
               option(value='100' selected) Simple scan (100)
               option(value='300') Middle scan (300)
               option(value='1000') Full scan (1000)
           br
           input(type="file" name="one" required)
           br
           input(type="submit" value="SUBMIT")
   article.form
       form(action="/upload" method="POST" enctype="multipart/form-data")
           h2 Upload image
           article.save_files
               input(type="file" class="files_upload_field" name="file_1" data-used="0" required)
           br
           input(type="submit" value="SUBMIT")