doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        title Image comparison
        link(rel="stylesheet" href="/src/main.css")
        script(src="/src/jquery.js")
        block scripts
    body
        section.content
            block content