doctype
html(lang="en")
    head
        meta(charset="UTF-8")
        title Result
    body
        section.content
            h1 Num: #{number}
            img(src="/result/" + first alt="img1")
            img(src="/result/" + second alt="img2")